[theme="light"] {
    --background-color: #E7E5E4;
    --invert-color: #181A1B;
    --full-invert: #000000;
}

[theme="dark"] {
    --background-color: #181A1B;
    --invert-color: #E7E5E4;
    --full-invert: #FFFFFF;
}

* {
    overflow-x: hidden;
    color: var(--full-invert);
    font-family: "Martian Mono", monospace;
}

:focus {
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    height: 100vh;
    width: 600px;
    margin: 0 auto;
}

button {
    border-radius: 25px;
    border: 5px solid;
    font-size: 45px;
    background-color: var(--background-color);
    cursor: pointer;
    box-shadow: 5px 5px 5px var(--invert-color);
}

#theme {
    margin-bottom: 10px;
}