#buttons {
    width: 550px;
    height: 250px;
}

button {
    margin-top: 40px;
}

#previousLabel {
    display: none;
}

#previous {
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    #buttons {
        width: 310px;
        height: 310px;
    }

    button {
        width: 290px;
        font-size: 40px;
    }

    h1 {
        font-size: 20px;
    }

    #previous {
        font-size: 10px;
    }
}