h1 {
    text-align: center;
}

#buttons {
    height: 250px;
    text-align: center;
}

button {
    margin-top: 40px;
}

@media only screen and (max-width: 600px) {
    #buttons {
        width: 310px;
        height: 310px;
    }

    button {
        width: 290px;
        font-size: 40px;
    }

    h1 {
        font-size: 20px;
    }
}