#buttons {
    width: 550px;
    height: 250px;
}

button {
    margin-top: 40px;
    font-size: 35px;
}

#previousLabel {
    display: none;
}

#previous {
    font-size: 20px;
}

@media only screen and (max-width: 615px) {
    button {
        width: 300px;
        font-size: 20px;
    }

    select {
        width: 120px;
        font-size: 15px;
    }

    #buttons {
        width: 310px;
        height: 310px;
    }

    h1 {
        font-size: 20px;
    }

    #duplicate {
        font-size: 15px;
    }

    #previous {
        font-size: 10px;
    }
}