---
import Layout from '../layouts/Layout.astro';
import '../styles/globals.css';
import '../styles/Generator.css';
const error = Astro.url.searchParams.has('error');
const min = parseInt(Astro.url.searchParams.get('min')!);
const max = parseInt(Astro.url.searchParams.get('max')!);
const mode = parseInt(Astro.url.searchParams.get('mode')!) as 10 | 2 | 8 | 16;
const numbers = parseInt(Astro.url.searchParams.get('numbers')!);
if (
	(!isNaN(min) || !isNaN(max) || min < max) &&
	(!isNaN(mode) || mode == 10 || mode == 2 || mode == 8 || mode == 16) &&
	numbers > 1 &&
	numbers <= 75
) {
	return Astro.redirect(
		`/generate?numbers=${numbers}&mode=${mode}&min=${min}&max=${max}`,
	);
}
---

<Layout>
	{error && <h1 id="error">There was an error</h1>}
	<div id="top">
		<form action="/generate">
			<input
				id="numbers"
				type="number"
				min="1"
				max="75"
				value="1"
				placeholder="Numbers Amount"
				autocomplete="off"
				name="numbers"
				required
			/>
			<br />
			<br />
			<select name="mode" required>
				<option value="10" selected={mode == 10}>Decimal</option>
				<option value="2" selected={mode == 2}>Binary</option>
				<option value="8" selected={mode == 8}>Octal</option>
				<option value="16" selected={mode == 16}>Hexadecimal</option>
			</select>
			<input
				type="number"
				placeholder="Min Number"
				autocomplete="off"
				name="min"
				required
			/>
			<br class="inputs" />
			<br class="inputs" />
			<input
				type="number"
				placeholder="Max Number"
				autocomplete="off"
				name="max"
				required
			/>
			<button type="submit">Generate</button>
		</form>
	</div>
</Layout>
