---
import Layout from '../layouts/Layout.astro';
import '../styles/globals.css';
import '../styles/Generator.css';
import { z } from 'zod';
const error = Astro.url.searchParams.has('error');
const min = Astro.url.searchParams.get('min');
const max = Astro.url.searchParams.get('max');
const mode = Astro.url.searchParams.get('mode') || '10';
const numbers = Astro.url.searchParams.get('numbers') || '1';
const isModeValid = z.enum(['10', '2', '8', '16']);
if (min && max) {
	const isMinValid = z
		.number()
		.min(-9999999)
		.max(9999999)
		.safeParse(parseInt(min));
	const isMaxValid = z
		.number()
		.min(-9999999)
		.max(9999999)
		.safeParse(parseInt(max));
	const isNumbersValid = z.number().min(1).max(5).safeParse(parseInt(numbers));
	if (
		isMinValid.success &&
		isMaxValid.success &&
		isMinValid.data < isMaxValid.data &&
		isNumbersValid.success &&
		isModeValid.safeParse(mode).success
	) {
		return Astro.redirect(
			`/generate?numbers=${numbers}&mode=${mode}&min=${min}&max=${max}`,
		);
	}
}
---

<Layout>
	{error && <h1 id="error">There was an error</h1>}
	<div id="top">
		<form action="/generate">
			<input
				id="numbers"
				type="number"
				min="1"
				max="5"
				value={numbers || 1}
				placeholder="Numbers Amount"
				autocomplete="off"
				name="numbers"
				required
			/>
			<br />
			<br />
			<select name="mode" required>
				<option value="10" selected={mode == isModeValid.Values[10]}
					>Decimal</option
				>
				<option value="2" selected={mode == isModeValid.Values[2]}
					>Binary</option
				>
				<option value="8" selected={mode == isModeValid.Values[8]}>Octal</option
				>
				<option value="16" selected={mode == isModeValid.Values[16]}
					>Hexadecimal</option
				>
			</select>
			<input
				type="number"
				min="-9999999"
				max="9999999"
				placeholder="Min Number"
				autocomplete="off"
				name="min"
				required
			/>
			<br class="inputs" />
			<br class="inputs" />
			<input
				type="number"
				min="-9999999"
				max="9999999"
				placeholder="Max Number"
				autocomplete="off"
				name="max"
				required
			/>
			<button type="submit">Generate</button>
		</form>
	</div>
</Layout>
