---
import isValidLang from '../utils/isValidLang.ts';
import t from '../utils/t.ts';
let { lang } = Astro.params;
if (!lang || !isValidLang(lang)) {
	lang = 'en';
}
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content={t(lang, 'document.meta.description')} />
		<meta name="og:title" content={t(lang, 'document.meta.og.title')} />
		<meta
			name="og:description"
			content={t(lang, 'document.meta.og.description')}
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@600&display=swap"
		/>
		<link rel="favicon" href="./favicon.ico" />
		<title>{t(lang, 'document.title')}</title>
	</head>
	<body>
		<noscript>
			<style>
				:root {
					--background-color: #e7e5e4;
					--invert-color: #181a1b;
					--full-invert: #000000;
				}

				#theme {
					display: none;
				}
			</style>
		</noscript>
		<button id="theme">{t(lang, 'theme.change')}</button>
		<select id="lang">
			<option data-short="en" selected={lang == 'en'}>English</option>
			<option data-short="it" selected={lang == 'it'}>Italiano</option>
		</select>
		<slot />
		<script>
			let theme = localStorage.getItem('theme');
			const html = document.getElementsByTagName('html')[0];
			if (theme != 'light' && theme != 'dark') {
				theme = 'light';
			}
			localStorage.setItem('theme', theme);
			html.setAttribute('theme', theme);
			const themeElement = document.getElementById('theme');
			if (themeElement) {
				themeElement.addEventListener('click', () => {
					let theme = localStorage.getItem('theme');
					if (theme != 'light' && theme != 'dark') {
						theme = 'light';
					}
					if (theme == 'dark') {
						localStorage.setItem('theme', 'light');
						html.setAttribute('theme', 'light');
					} else if (theme == 'light') {
						localStorage.setItem('theme', 'dark');
						html.setAttribute('theme', 'dark');
					}
				});
			}
			const langElement = document.getElementById('lang');
			if (langElement) {
				langElement.addEventListener('change', () => {
					for (let i = 0; i < langElement.children.length; i++) {
						if (i == (langElement as HTMLSelectElement).selectedIndex) {
							const lang = langElement.children[i].getAttribute('data-short');
							if (lang) {
								const path = window.location.pathname.split('/')[2];
								const params = window.location.search;
								window.location.replace(
									`/${lang}/${path ? path : ''}${params != '' ? params : ''}`,
								);
								localStorage.setItem('lang', lang);
							}
						}
					}
				});
			}
		</script>
	</body>
</html>
