<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Generate random numbers" />
		<meta name="og:title" content="Random Number Generator" />
		<meta name="og:description" content="Generate random numbers" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@600&display=swap"
		/>
		<link rel="favicon" href="./favicon.ico" />
		<title>Random Number Generator</title>
	</head>
	<body>
		<button id="theme">Change Theme</button>
		<slot />
		<script lang="ts">
			let theme = localStorage.getItem('theme');
			const html = document.getElementsByTagName('html')[0];
			if (theme != 'light' && theme != 'dark') {
				theme = 'light';
			}
			localStorage.setItem('theme', theme);
			html.setAttribute('theme', theme);
			document.getElementById('theme').addEventListener('click', () => {
				let theme = localStorage.getItem('theme');
				if (theme != 'light' && theme != 'dark') {
					theme = 'light';
				}
				if (theme == 'dark') {
					localStorage.setItem('theme', 'light');
					html.setAttribute('theme', 'light');
				} else if (theme == 'light') {
					localStorage.setItem('theme', 'dark');
					html.setAttribute('theme', 'dark');
				}
			});
		</script>
	</body>
</html>
