---
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Generate random numbers" />
		<meta name="og:title" content="Random Number Generator" />
		<meta name="og:description" content="Generate random numbers" />
		<link rel="favicon" href="./favicon.ico" />
		<title>Random Number Generator</title>
		<ViewTransitions />
	</head>
	<body>
		<slot />
	</body>
</html>
